0.0.0.0:80 {
  limits 10mb
  proxy /api http://rcgechvalidator:8090 {
    without /api
  }
  rewrite / {
      if {path} is /
      to /index.fr.html
  }
  rewrite /fr /index.fr.html
  rewrite /en /index.en.html
  rewrite /de /index.de.html
  rewrite /it /index.it.html
  root /var/www
  log stdout
  errors stdout
  rewrite {
      to {path} {path}/ /demain/
  }
  redir /demain/ https://demain.ge.ch/dossier/geneve-numerique/blockchain
}
